body{
    background: #e5e5e5;
}

.container{
    width: 950px;
    height: 480px; 
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;    
    top:0;
}

.flexslider, .flex-viewport{
    border-radius: 0 !important;
    overflow : hidden;
    position: relative;
    border: 1px solid #cacaca !important;    
    width: 950px !important;
    height: 400px !importat;
}

.flex-control-nav{
    z-index: 10 !important;
    bottom: 15px !important;
    right: -38%;
}

.flex-control-paging li a{
    background: #fff !important;
}

.flex-control-paging li a.flex-active,.flex-control-paging li a:hover{
    background: #9abe4c !important;
}

.img-slides{
    /*border : 3px solid #fff !important;*/
    width: 944px !important;
    height: 392px !important;
    padding: 3px !important;
}

.flex-direction-nav a {
    width: 27px !important;
    height: 27px !important;
    text-indent: 9999px !important;
    opacity: 1 !important;
}

.flex-direction-nav a.flex-prev{
    background: #fff url(img/slide6-custom-arrow.png) no-repeat left 0;
    margin-top: 16.5% !important;
    left: 92.5% !important;
    
}

.flex-direction-nav a.flex-next{
    background: #fff url(img/slide6-custom-arrow.png) no-repeat right 0;;
    margin-top: 16.5% !important; 
    margin-right: 5px;
    
}

.flex-direction-nav a:before{content: none !important;}

.flex-caption{
    height: 100%;
    width: 474px;
    z-index: 1;
    left: 0;
    margin:3px;
	position: absolute;
	top:0;
    /*overflow:hidden;*/
    
    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

.flex-caption h1{
    color: #fefefe;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 36px;
    float: left;
    width: 474px;
    margin-left: 0;
    line-height: 36px;
    text-align: left;
    font-weight: 100;
    padding: 12px 24px 12px 30px;
    margin-top: 110px;
    background: rgba(0,0,0,0.3);
}

.flex-caption span{
    height: auto;
    width: 396px;
    background: #9abe4c url(img/span-overlay2.png);
    display:inline-block;
    position: absolute;
    float: left;
    left: 0;
    top: 51.5%;
    padding: 6px 39px 6px 30px;
    
    
}

.flex-caption span p{
    color: #fff;
    font-size: 12px;
    font-family: "Arial", Helvetica Neue, Helvetica, sans-serif;
    line-height: 18px;
    text-align:left;
}

.button{
    width: 92px;  
    height: 30px;  
    line-height: 30px;  
    color: white;  
    text-decoration: none;  
    font-size: 12px;  
    font-family: helvetica, arial;  
    font-weight: bold;  
    display: block;  
    text-align: center;  
    position: relative;     
     
    /* BORDER RADIUS */  
     -moz-border-radius: 5px;  
     -webkit-border-radius: 5px;  
     border-radius: 5px;       
  
     /* BOX SHADOW */  
     -moz-box-shadow: inset 0 0px 1px #fff;  
     -webkit-box-shadow: inset 0 0px 1px #fff;  
     box-shadow: inset 0 0px 1px #fff;
}

.right{
    float: right;
}

.blue-flat{
    border-radius: 0 !important;
    background: #2bd1ef;
    border: 1px solid #21a3ba;
}

.orange-flat{
    border-radius: 0 !important;
    background: #ef8100;
    border: 1px solid #a65a00;
}

.blue{
    /* BACKGROUND GRADIENTS */  
    border: 1px solid #21a3ba;
    background: #6db3f2; /* Old browsers */
background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

.pink{
    /* BACKGROUND GRADIENTS */ 
    border: 1px solid #d24174;
    background: #ef4a84; /* Old browsers */
    background: -moz-linear-gradient(top,  #ef4a84 0%, #ef4a84 51%, #d74277 51%, #d74277 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef4a84), color-stop(51%,#ef4a84), color-stop(51%,#d74277), color-stop(100%,#d74277)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ef4a84 0%,#ef4a84 51%,#d74277 51%,#d74277 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ef4a84 0%,#ef4a84 51%,#d74277 51%,#d74277 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ef4a84 0%,#ef4a84 51%,#d74277 51%,#d74277 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ef4a84 0%,#ef4a84 51%,#d74277 51%,#d74277 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4a84', endColorstr='#d74277',GradientType=0 ); /* IE6-9 */
}

.green{
    border: 1px solid #948400;
    background: #9dd53a; /* Old browsers */
background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */

}

.yellow{
    border: 1px solid #948400;
background: #c8b300; /* Old browsers */
background: -moz-linear-gradient(top,  #c8b300 0%, #c8b300 49%, #b4a100 49%, #b4a100 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8b300), color-stop(49%,#c8b300), color-stop(49%,#b4a100), color-stop(100%,#b4a100)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c8b300 0%,#c8b300 49%,#b4a100 49%,#b4a100 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c8b300 0%,#c8b300 49%,#b4a100 49%,#b4a100 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c8b300 0%,#c8b300 49%,#b4a100 49%,#b4a100 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c8b300 0%,#c8b300 49%,#b4a100 49%,#b4a100 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8b300', endColorstr='#b4a100',GradientType=0 ); /* IE6-9 */



}



/*button Demo*/
.active, .link a.button:hover{
    border: 1px solid #a80077;
    background: #cb60b3; /* Old browsers */
background: -moz-linear-gradient(top,  #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(50%,#c146a1), color-stop(51%,#a80077), color-stop(100%,#db36a4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */
}

.link{
    width: 950px;
    top: 85%;
    margin: auto;
    display:inline-block;
    position:absolute;    
    margin-top: 18px;
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

.link ul{
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.link li{
    width: 100px;
    display:inline-block;
}






